table.table-borders {
	border-collapse: collapse;
}
th.table-borders {
	font-weight: bold;
}

table.table-borders {
	padding: 0 3px 0 3px;
	border: 1px solid black;
}

th.table-borders {
	padding: 0 3px 0 3px;
	border: 1px solid black;
}

td.table-borders {
	padding: 0 10px 0 10px;
	border: 1px solid black;
}
